@use "@/styles/utilities/all" as *;

.Header {
	background-color: var(--bg-color-02);
	border-bottom: var(--header-border-line);
	display: flex;
	align-items: center;
	min-height: var(--header-height);
	&__inner {
		padding-inline: var(--header-padding);
		min-width: 0;
		max-width: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		gap: var(--header-gap);
	}

	&__list {
		min-width: 0;
		display: flex;
		align-items: center;
		gap: var(--header-gap);
	}
	&__sidebarToggle {
		svg {
			transition: var(--sidebar-transition);
			transform: rotate(90deg);
		}
		&--open {
			svg {
				transform: rotate(0deg);
			}
		}
	}
}
