$fonts-chivo-path: "/fonts/chivo";

@use "sass:map";
@use "sass:list";
@use "sass:string";

@each $font-name,
	$map
		in (
			ChivoMonoLight: (
					filehandle: ChivoMono-Light,
				),
			ChivoMonoRegular: (
					filehandle: ChivoMono-Regular,
				),
			ChivoMonoMedium: (
					filehandle: ChivoMono-Medium,
				),
			ChivoMonoSemiBold: (
					filehandle: ChivoMono-SemiBold,
				),
			ChivoMonoBold: (
					filehandle: ChivoMono-Bold,
				)
		)
{
	$f: map.get($map, filehandle);

	@font-face {
		font-display: swap;
		font-family: "#{$font-name}";
		font-style: normal;
		font-weight: normal;
		src:
			local("#{$font-name}"),
			url("#{$fonts-chivo-path}/#{$f}.woff2") format("woff2");

		@each $attr, $value in map.remove($map, filehandle) {
			#{$attr}: $value;
		}
	}
}

@mixin font-weight-chivo($family-shorthand) {
	$weight-stacks: (
		light: ("ChivoMonoLight"),
		regular: ("ChivoMonoRegular"),
		medium: ("ChivoMonoMedium"),
		semibold: ("ChivoMonoSemiBold"),
		bold: ("ChivoMonoBold"),
	);

	$fallback-stack: (
		Consolas,
		"Lucida Console",
		"Courier New",
		Courier,
		monospace
	);

	@if map.has-key($weight-stacks, $family-shorthand) {
		font-family: list.join(
			map.get($weight-stacks, $family-shorthand),
			$fallback-stack
		);
	} @else {
		@error 'Unable to find a font weight with name `#{$family-shorthand}`. Expected one of: (#{map-keys($weight-stacks)})';
	}
}
