$fonts-market-path: "/fonts/market";

@use "sass:map";
@use "sass:list";
@use "sass:string";

@each $font-name,
	$map
		in (
			MarketSansThin: (
					filehandle: MarketSans-Thin,
				),
			MarketSansLight: (
					filehandle: MarketSans-Light,
				),
			MarketSansRegular: (
					filehandle: MarketSans-Regular,
				),
			MarketSansMedium: (
					filehandle: MarketSans-Medium,
				),
			MarketSansSemiBold: (
					filehandle: MarketSans-SemiBold,
				),
			MarketSansBold: (
					filehandle: MarketSans-Bold,
				)
		)
{
	$f: map.get($map, filehandle);

	@font-face {
		font-display: swap;
		font-family: "#{$font-name}";
		font-style: normal;
		font-weight: normal;
		src:
			local("#{$font-name}"),
			url("#{$fonts-market-path}/#{$f}.woff2") format("woff2");

		@each $attr, $value in map.remove($map, filehandle) {
			#{$attr}: $value;
		}
	}
}

@mixin font-weight-market($family-shorthand) {
	$weight-stacks: (
		thin: ("MarketSansThin"),
		light: ("MarketSansLight"),
		regular: ("MarketSansRegular"),
		medium: ("MarketSansMedium"),
		semibold: ("MarketSansSemiBold"),
		bold: ("MarketSansBold"),
	);

	$fallback-stack: (Arial, Helvetica, sans-serif);

	@if map.has-key($weight-stacks, $family-shorthand) {
		font-family: list.join(
			map.get($weight-stacks, $family-shorthand),
			$fallback-stack
		);
	} @else {
		@error 'Unable to find a font weight with name `#{$family-shorthand}`. Expected one of: (#{map-keys($weight-stacks)})';
	}
}
