@use "@/styles/utilities/all" as *;

.Button {
	cursor: pointer;
	position: relative;
	font-size: var(--font-size-14);
	box-sizing: border-box;
	transition: var(--transition-productive);
	background-color: var(--bg-color);
	&--main {
		@include font-weight(semibold);
		height: var(--button-main-size-lg);
		border-radius: var(--button-border-radius);
		padding-inline: var(--button-main-padding-lg);
		font-size: 1rem;
		gap: var(--button-gap);
		border: 1px solid transparent;
		.Button__icon {
			width: var(--button-icon-size);
			height: var(--button-icon-size);
		}
	}
	&--icon {
		border: var(--button-border-line);
		border-radius: var(--button-border-radius);
		width: var(--button-size);
		height: var(--button-size);
		color: var(--text-color);
		.Button__icon {
			width: var(--button-icon-size);
			height: var(--button-icon-size);
		}
		&:not(:disabled) {
			&:hover,
			&:focus-within {
				border-color: var(--main);
			}
		}
	}
	&--default {
		height: var(--button-main-size);
		padding-inline: var(--button-main-padding);
		background: var(--bg-color);
		border: var(--button-border-line);
	}
	&--add {
		background: var(--button-main-background);
		@include color-light-on-dark(var(--white));
		&:hover {
			background: color-mix(in srgb, var(--button-main-background) 80%, black);
		}
	}
	&--delete {
		background: var(--bg-color);
		color: var(--red);
		border-color: var(--red);
		&:hover {
			@include color-light-on-dark(var(--white));
			background: var(--red);
		}
	}
	&--cancel {
		background: var(--bg-color);
		border-color: var(--button-border-line);
	}

	&--header {
		border-color: transparent;
		background: transparent;
		&:hover {
			background: var(--bg-color);
			border-color: var(--button-border-color);
		}
	}
	&--number-add {
		@include font-weight-chivo(regular);
		border: var(--button-border-line);
		border-radius: var(--button-border-radius);
		font-size: var(--font-size-18);
		span {
			padding: var(--button-main-padding-sm);
			border-right: var(--button-border-line);
		}
		.Button__icon {
			margin-inline: var(--button-main-padding-sm);
			width: var(--button-icon-size);
			height: var(--button-icon-size);
		}
		&:hover {
			background: var(--gray-02);
		}
	}
	&__icon {
		&--loading {
			animation: button-icon-spin 2s linear infinite;
		}
	}
	&:disabled {
		color: color-mix(in srgb, var(--text-color) 40%, var(--white));
		cursor: not-allowed;
	}
}

@keyframes button-icon-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
