@use "@/styles/utilities/all" as *;

.ProfitHistoryChart {
	width: 100%;
	display: contents;
	&__chart {
		@include font-weight-chivo(regular);
		width: 100%;
		height: 320px;
		grid-area: 3 / 1 / 4 / 2;
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		grid-area: 2 / 1 / 3 / 2;
	}

	&__ranges {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		margin-right: var(--chart-margin-right);
		margin-left: auto;
	}

	:global(.recharts-wrapper),
	:global(.recharts-wrapper *),
	:global(.recharts-surface) {
		&:focus,
		&:focus-visible {
			outline: none;
		}
	}
	:global(.recharts-tooltip-label) {
		@include font-weight(semibold);
		text-box: trim-both cap alphabetic;
	}
	:global(.recharts-tooltip-item) {
		@include font-weight-chivo(semibold);
		font-size: 1.4rem;
		text-box: trim-both cap alphabetic;
	}
	:global(.recharts-default-tooltip) {
		display: flex;
		flex-direction: column;
		gap: var(--chart-tooltip-gap);
	}
}
