@use "@/styles/utilities/all" as *;

.GemRateTable {
	&__actions {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 1rem;
		width: 100%;
		min-width: 0;

		&__separator {
			display: block;
			width: 1px;
			height: var(--button-size);
			background: var(--button-border-color);
		}

		&__filter {
			position: relative;
			width: var(--button-size);

			&--open {
				.GemRateTable__actions__filter__btn {
					border-color: var(--main);
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}

		&__input {
			position: absolute;
			top: 0;
			right: calc(var(--button-size) - 1px);
			width: calc(var(--button-size) * 6);

			input {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}
	&__cell {
		&--value {
			@include font-weight-chivo(regular);
			position: relative;
			text-align: right;
		}
	}
}
