@use "@/styles/utilities/all" as *;

.GemRateTable {
	&__table {
		td {
			padding: var(--table-cell-padding-lg);
		}
	}
	&__actions {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 1rem;
		width: 100%;
		min-width: 0;

		&__separator {
			display: block;
			width: 1px;
			height: var(--button-size);
			background: var(--button-border-color);
		}

		&__filter {
			position: relative;
			width: var(--button-size);

			&--open {
				.GemRateTable__actions__filter__btn {
					border-color: var(--main);
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}

		&__input {
			position: absolute;
			top: 0;
			right: calc(var(--button-size) - 1px);
			width: calc(var(--button-size) * 6);

			input {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}
	&__cell {
		&--value {
			@include font-weight-chivo(light);
			text-align: right;
		}
		&--mono {
			@include font-weight-chivo(light);
		}
	}
	&__link {
		@include font-weight-chivo(regular);
		border: var(--input-border-line);
		font-size: 0.9em;
		padding: var(--table-link-padding);
		border-radius: 0.4em;
		line-height: 1;
		letter-spacing: 0.05em;
		transition: var(--transition-productive);
		text-box: trim-both cap alphabetic;

		&:hover {
			border-color: var(--psa-color);
			color: var(--psa-color);
		}
	}
}
