@use "../utilities/all" as *;

html {
	scrollbar-gutter: stable;
}

@media (pointer: fine) {
	*,
	*::before,
	*::after {
	}
}

body {
	@include font-weight(regular);
	background: var(--bg-color-02);
	color: var(--text-color);
}

a {
	color: inherit;
	text-decoration: none;
	&:visited {
		color: inherit;
	}
}

::selection {
	// TODO: Make this theme friendly
	//   background-color: var(--black);
	//   color: var(--white);
}

.layout {
	display: grid;
	grid-template-columns: var(--sidebar-size) minmax(0, 1fr);
	min-height: 100vh;
}

main {
	min-width: 0;
}
