@use "../utilities/all" as *;

html {
	scrollbar-gutter: stable;
}
html.theme--dark {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
	text-shadow: 1px 1px 1px rgb(0 0 0 / 0.4%);
}
@media (pointer: fine) {
	*,
	*::before,
	*::after {
	}
}

body {
	@include font-weight(regular);
	background: var(--bg-color);
	color: var(--text-color);
	display: flex;
	min-height: 100vh;
}

a {
	color: inherit;
	text-decoration: none;
}
input,
select {
	color: var(--text-color);
	background: transparent;
}

::selection {
	background-color: var(--text-color);
	color: var(--bg-color);
}

.layout {
	flex: 1 1 0;
	min-width: 0;
}

main {
	flex: 1 1 0;
	min-width: 0;
}
.alert {
	display: block;
	width: 100%;
	text-align: center;
	color: var(--red);
	background: color-mix(in srgb, var(--red) 10%, transparent);
	@include font-weight(semibold);
	border-radius: var(--button-border-radius);
	border: 1px solid var(--red);
	padding: 0.5em 1em;
}
