@use "@/styles/utilities/all" as *;

.HighlightCard {
	background-color: var(--bg-color-02);
	border: 1px solid var(--border-color);
	padding: var(--highlight-padding);
	width: fit-content;
	border-radius: var(--highlight-border-radius);
	display: grid;
	grid-template-columns: var(--highlight-icon-size) auto auto;
	grid-template-rows: 1fr 1fr;
	gap: var(--highlight-gap-sm) var(--highlight-gap);
	grid-template-areas:
		"icon label sublabel"
		"icon value subvalue";

	&__highlight,
	&__sub {
		&__label {
			@include heading(h3);
			color: var(--highlight-label-color);
			line-height: 1;
			text-box: trim-both cap alphabetic;
			justify-self: end;
		}
		&__value {
			line-height: 1;
			text-box: trim-both cap alphabetic;
			justify-self: end;
		}
	}
	&__highlight {
		&__value {
			@include font-weight-chivo(semibold);
			font-size: var(--highlight-value-font-size);
			grid-area: value;
			align-self: end;
		}
		&__label {
			grid-area: label;
		}
	}
	&__sub {
		&__value {
			@include font-weight-chivo(semibold);
			font-size: var(--highlight-value-font-size-sm);
			align-self: end;
			grid-area: subvalue;
		}
		&__label {
			grid-area: sublabel;
		}
	}
	&__icon {
		align-self: center;
		grid-area: icon;
		color: var(--main);
		width: 100%;
		height: var(--highlight-icon-size);
	}
}
