@use "@/styles/utilities/all" as *;

.TableInfo {
	--tableInfo-margin: 1rem;
	margin-block: var(--tableInfo-margin);
	thead {
		th {
			@include font-weight(semibold);
			font-size: var(--font-size-12);
			letter-spacing: 0.05em;
			text-transform: uppercase;
			margin: 0;
			text-align: left;
		}
	}
	tbody {
		tr {
			border-bottom: 1px solid var(--border-color);
		}
		td {
			font-size: var(--font-size-14);
		}
	}
}
