@use "@/styles/utilities/all" as *;

.Page {
	&__header {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		padding: var(--page-padding);
	}
	&__heading {
		@include heading(h1);
	}
	&__section {
		&--dashboard {
			padding: var(--page-padding);
		}
	}
}
